#include <windows.h>

1 ICON "app.ico"
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Axolotl\0"
      VALUE "FileDescription", "Model Launcher\0"
      VALUE "FileVersion", "0.1.0\0"
      VALUE "InternalName", "model-launcher\0"
      VALUE "LegalCopyright", "Copyright (c) Axolotl contributors\0"
      VALUE "OriginalFilename", "model-launcher.exe\0"
      VALUE "ProductName", "Model Launcher\0"
      VALUE "ProductVersion", "0.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
